<section _ngcontent-igq-c482="" role="tabpanel" aria-labelledby="all-tabs" class="ng-tns-c482-12">
  <div _ngcontent-igq-c482="" class="ng-tns-c482-12 ng-star-inserted">
      <div _ngcontent-igq-c482="" class="clr-row service-card ng-tns-c482-12" _nghost-igq-c481="">
          
        <div _ngcontent-igq-c481="" class="service clr-col-12 clr-col-sm-10 clr-col-md-6 clr-col-lg-5 clr-col-xl-4 expand ng-tns-c482-12 ng-star-inserted">
          <div _ngcontent-igq-c481="" class="card ng-tns-c482-12 ng-trigger ng-trigger-animationState clickable" id="service-card-78962d09-1571-4db1-b9a0-1bdb69045252">
              <div _ngcontent-igq-c482="" class="card-block ng-tns-c482-12">
                  <div _ngcontent-igq-c481="" class="card-title ng-tns-c482-12">
                      <div _ngcontent-igq-c481="" class="service-display-name ng-tns-c482-12">
                          <img
                                style="width: 30%; display: block;"
                              _ngcontent-igq-c481=""
                              aria-hidden="true"
                              role="img"
                              class="card-media-image csp-card-media-image ng-star-inserted service-icon ng-tns-c481-12"
                              alt="VMware Carbon Black Cloud logo"
                              src="https://www.vmware.com/content/dam/digitalmarketing/vmware/en/images/gallery/icons/icon-prod-carbonblack-cloud-rgb-400px.svg"
                          />
                          VMware Carbon Black Cloud
                      </div>
                      <!---->
                  </div>
                  <p _ngcontent-igq-c481="" class="card-text multiline-ellipsis ng-tns-c482-12">Transform your security with cloud native endpoint and workload protection.<br></p>
              </div>
              <div _ngcontent-igq-c481="" class="card-footer ng-tns-c482-12">
                  <div _ngcontent-igq-c481="" class="actions ng-tns-c482-12">
                      <button
                          _ngcontent-igq-c481=""
                          class="btn btn-sm btn-link open ng-tns-c58-17 ng-tns-c482-12 ng-star-inserted"
                          id="service-card-actions-open-78963d09-1571-4db1-b9a0-1bdb69045252"
                          aria-label="Open for VMware Carbon Black Cloud"
                          style=""
                      >
                          <!----><!---->
                          <a href="https://defense-prod05.conferdeploy.net/alerts" target="_blank"> OPEN </a>
                          <!----><!---->
                      </button>
                      <!----><!----><!---->
                  </div>
                  <!---->
              </div>
          </div>
      </div>

          <div _ngcontent-igq-c482="" class="service clr-col-12 clr-col-sm-10 clr-col-md-6 clr-col-lg-5 clr-col-xl-4 expand ng-tns-c482-12 ng-star-inserted">
              <div _ngcontent-igq-c482="" class="card ng-tns-c482-12 ng-trigger ng-trigger-animationState clickable" id="service-card-10b5fe31-d603-42f8-bd1e-64fadce1cc6c">
                  <div _ngcontent-igq-c482="" class="card-block ng-tns-c482-12">
                      <div _ngcontent-igq-c482="" class="card-title ng-tns-c482-12">
                          <div _ngcontent-igq-c482="" class="service-display-name ng-tns-c482-12">
                              <img
                                style="width: 30%; display: block;"
                                  _ngcontent-igq-c482=""
                                  aria-hidden="true"
                                  role="img"
                                  class="card-media-image csp-card-media-image ng-star-inserted service-icon ng-tns-c482-12"
                                  alt="CloudHealth by VMware logo"
                                  src="https://cloudhealth.vmware.com/content/dam/digitalmarketing/vmware/en/images/gallery/logos/cloudhealth-by-vmware-logo.svg"
                              />
                              CloudHealth by VMware
                          </div>
                          <!---->
                      </div>
                      <p _ngcontent-igq-c482="" class="card-text multiline-ellipsis ng-tns-c482-12">Analyze and manage multi cloud cost, usage, security and performance in one place.</p>
                  </div>
                  <div _ngcontent-igq-c482="" class="card-footer ng-tns-c482-12">
                      <div _ngcontent-igq-c482="" class="actions ng-tns-c482-12">
                          <button
                              _ngcontent-igq-c482=""
                              class="btn btn-sm btn-link open ng-tns-c59-14 ng-tns-c482-12 ng-star-inserted"
                              id="service-card-actions-open-10b5fe31-d603-42f8-bd1e-64fadce1cc6c"
                              aria-label="Open for CloudHealth by VMware"
                              style=""
                          >
                              <!----><!---->
                              <a href="https://www.securestate.vmware.com/dashboard/overview" target="_blank"> OPEN </a>
                              <!----><!---->
                          </button>
                          <!----><!----><!---->
                      </div>
                      <!---->
                  </div>
              </div>
          </div>
          <!----><!---->

          <!----><!---->
          <div _ngcontent-igq-c482="" class="service clr-col-12 clr-col-sm-10 clr-col-md-6 clr-col-lg-5 clr-col-xl-4 expand ng-tns-c482-12 ng-star-inserted">
              <div _ngcontent-igq-c482="" class="card ng-tns-c482-12 ng-trigger ng-trigger-animationState clickable" id="service-card-Zy924mE3dwn2ASyVZR0Nn7lupeA_">
                  <div _ngcontent-igq-c482="" class="card-block ng-tns-c482-12">
                      <div _ngcontent-igq-c482="" class="card-title ng-tns-c482-12">
                          <div _ngcontent-igq-c482="" class="service-display-name ng-tns-c482-12">
                              <img
                                style="width: 30%; display: block;"
                                  _ngcontent-igq-c482=""
                                  aria-hidden="true"
                                  role="img"
                                  class="card-media-image csp-card-media-image ng-star-inserted service-icon ng-tns-c482-12"
                                  alt="VMware Cloud Assembly logo"
                                  src="https://www.mgmt.cloud.vmware.com/automation-ui/assets/cloud-assembly.svg"
                              />
                              VMware Cloud Assembly
                          </div>
                          <!---->
                      </div>
                      <p _ngcontent-igq-c482="" class="card-text multiline-ellipsis ng-tns-c482-12">Build, provision and iterate on applications using infrastructure as code with agile governance.</p>
                  </div>
                  <div _ngcontent-igq-c482="" class="card-footer ng-tns-c482-12">
                      <div _ngcontent-igq-c482="" class="actions ng-tns-c482-12">
                          <button
                              _ngcontent-igq-c482=""
                              class="btn btn-sm btn-link open ng-tns-c59-18 ng-tns-c482-12 ng-star-inserted"
                              id="service-card-actions-open-Zy924mE3dwn2ASyVZR0Nn7lupeA_"
                              aria-label="Open for VMware Cloud Assembly"
                              style=""
                          >
                              <!----><!---->
                              <a href="https://www.mgmt.cloud.vmware.com/automation-ui" target="_blank"> OPEN </a>
                              <!----><!---->
                          </button>
                          <!----><!----><!---->
                      </div>
                      <!---->
                  </div>
              </div>
          </div>
          <!----><!---->
         
          <div _ngcontent-igq-c482="" class="service clr-col-12 clr-col-sm-10 clr-col-md-6 clr-col-lg-5 clr-col-xl-4 expand ng-tns-c482-12 ng-star-inserted">
              <div _ngcontent-igq-c482="" class="card ng-tns-c482-12 ng-trigger ng-trigger-animationState clickable" id="service-card-Yw-HyBeQzjCXkL2wQSeGwauJ-mA_">
                  <div _ngcontent-igq-c482="" class="card-block ng-tns-c482-12">
                      <div _ngcontent-igq-c482="" class="card-title ng-tns-c482-12">
                          <div _ngcontent-igq-c482="" class="service-display-name ng-tns-c482-12">
                              <img
                                style="width: 30%; display: block;"
                                  _ngcontent-igq-c482=""
                                  aria-hidden="true"
                                  role="img"
                                  class="card-media-image csp-card-media-image ng-star-inserted service-icon ng-tns-c482-12"
                                  alt="VMware Service Broker logo"
                                  src="https://i0.wp.com/cormachogan.com/wp-content/uploads/2019/12/tanzu.png?ssl=1"
                              />
                          Tanzu Mission Control
                          </div>

                          <!---->
                      </div>
                      <p _ngcontent-igq-c482="" class="card-text multiline-ellipsis ng-tns-c482-12">
                        Centralized Kubernetes management platform across clouds
                      </p>
                  </div>
                  <div _ngcontent-igq-c482="" class="card-footer ng-tns-c482-12">
                      <div _ngcontent-igq-c482="" class="actions ng-tns-c482-12">
                          <button
                              _ngcontent-igq-c482=""
                              class="btn btn-sm btn-link open ng-tns-c59-23 ng-tns-c482-12 ng-star-inserted"
                              id="service-card-actions-open-Yw-HyBeQzjCXkL2wQSeGwauJ-mA_"
                              aria-label="Open for VMware Service Broker"
                              style=""
                          >
                              <!----><!---->
                              <a href="https://cpsbutpmorg.tmc.cloud.vmware.com/clusters" target="_blank"> OPEN </a>
                              <!----><!---->
                          </button>
                          <!----><!----><!---->
                      </div>
                      <!---->
                  </div>
              </div>
          </div>
          <!----><!---->
          <div _ngcontent-igq-c482="" class="service clr-col-12 clr-col-sm-10 clr-col-md-6 clr-col-lg-5 clr-col-xl-4 expand ng-tns-c482-12 ng-star-inserted">
              <div _ngcontent-igq-c482="" class="card ng-tns-c482-12 ng-trigger ng-trigger-animationState clickable" id="service-card-7cJ2ngS_hRCY_bIbWucM4KWQwOo_">
                  <div _ngcontent-igq-c482="" class="card-block ng-tns-c482-12">
                      <div _ngcontent-igq-c482="" class="card-title ng-tns-c482-12">
                          <div _ngcontent-igq-c482="" class="service-display-name ng-tns-c482-12">
                              <img
                                style="width: 30%; display: block;"
                                  _ngcontent-igq-c482=""
                                  aria-hidden="true"
                                  role="img"
                                  class="card-media-image csp-card-media-image ng-star-inserted service-icon ng-tns-c482-12"
                                  alt="VMware vRealize Log Insight Cloud logo"
                                  src="https://console.cloud.vmware.com/csp/gateway/portal/assets/img/li-logo.svg"
                              />
                              VMware vRealize Log Insight Cloud
                          </div>
                          <!---->
                      </div>
                      <p _ngcontent-igq-c482="" class="card-text multiline-ellipsis ng-tns-c482-12">Analyze logs to promote rapid troubleshooting and root cause analysis across private, public and hybrid cloud environments.</p>
                  </div>
                  <div _ngcontent-igq-c482="" class="card-footer ng-tns-c482-12">
                      <div _ngcontent-igq-c482="" class="actions ng-tns-c482-12">
                          <button
                              _ngcontent-igq-c482=""
                              class="btn btn-sm btn-link open ng-tns-c59-24 ng-tns-c482-12 ng-star-inserted"
                              id="service-card-actions-open-7cJ2ngS_hRCY_bIbWucM4KWQwOo_"
                              aria-label="Open for VMware vRealize Log Insight Cloud"
                              style=""
                          >
                              <!----><!---->
                              <a href="https://www.mgmt.cloud.vmware.com/li/home" target="_blank"> OPEN </a>
                              <!----><!---->
                          </button>
                          <!----><!----><!---->
                      </div>
                      <!---->
                  </div>
              </div>
          </div>
          <!----><!---->
          <div _ngcontent-igq-c482="" class="service clr-col-12 clr-col-sm-10 clr-col-md-6 clr-col-lg-5 clr-col-xl-4 expand ng-tns-c482-12 ng-star-inserted">
              <div _ngcontent-igq-c482="" class="card ng-tns-c482-12 ng-trigger ng-trigger-animationState clickable" id="service-card-9qjoNafDp9XkyyQLcLCKWPsAir0_">
                  <div _ngcontent-igq-c482="" class="card-block ng-tns-c482-12">
                      <div _ngcontent-igq-c482="" class="card-title ng-tns-c482-12">
                          <div _ngcontent-igq-c482="" class="service-display-name ng-tns-c482-12">
                              <img
                                style="width: 30%; display: block;"
                                  _ngcontent-igq-c482=""
                                  aria-hidden="true"
                                  role="img"
                                  class="card-media-image csp-card-media-image ng-star-inserted service-icon ng-tns-c482-12"
                                  alt="VMware vRealize Network Insight Cloud logo"
                                  src="https://console.cloud.vmware.com/csp/gateway/portal/assets/img/network-insight.svg"
                              />
                              VMware vRealize Network Insight Cloud
                          </div>
                          <!---->
                      </div>
                      <p _ngcontent-igq-c482="" class="card-text multiline-ellipsis ng-tns-c482-12">Gain visibility across clouds to understand application dependencies, plan security, and troubleshoot network issues</p>
                  </div>
                  <div _ngcontent-igq-c482="" class="card-footer ng-tns-c482-12">
                      <div _ngcontent-igq-c482="" class="actions ng-tns-c482-12">
                          <button
                              _ngcontent-igq-c482=""
                              class="btn btn-sm btn-link open ng-tns-c59-25 ng-tns-c482-12 ng-star-inserted"
                              id="service-card-actions-open-9qjoNafDp9XkyyQLcLCKWPsAir0_"
                              aria-label="Open for VMware vRealize Network Insight Cloud"
                              style=""
                          >
                              <!----><!---->
                              <a href="https://www.mgmt.cloud.vmware.com/ni/ce/E/#home" target="_blank"> OPEN </a>
                              <!----><!---->
                          </button>
                          <!----><!----><!---->
                      </div>
                      <!---->
                  </div>
              </div>
          </div>
          <!----><!----><!---->
          <div _ngcontent-igq-c481="" class="clr-col-12 template-wrapper"><!----><!----></div>
        </div>
  </div>
  <!----><!---->
</section>
